body {
  font-family: 'Roboto Slab', 'Marcellus', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #003366;
  color: #FFFFFF;
}

header {
  background-color: #FFCC00;
  padding: 10px 20px; /* Reduzi o padding para diminuir a altura do header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-container {
  display: flex;
  align-items: center;
}

#logo img {
  width: 10vh;
  margin-right: 10px;
}

#logo-text h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 800px;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}

.text-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
  .text-card {
    background-color: #FFFFFF;
    width: 30vh;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-card h2 {
    color: #003366;
  }
  
  .text-card img {
    padding-left: 80px;
    width: 20%;
  }
  
  .like {
    display: flex;
    align-items: center;
  }
  
  .text-card p {
    color: #333333;
  }
  
  .like-btn {
    display: inline-block;
    background-color: #FFCC00;
    color: #003366;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .like-btn:hover {
    background-color: #FFD633;
  }

  #publicar-section {
    background-color: #FFCC00;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  #publicar-section h2 {
    color: #003366;
  }
  
  #publicar-section form {
    display: flex;
    flex-direction: column;
  }
  
  #publicar-section textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #003366;
    border-radius: 4px;
  }
  
  #publicar-section input[type="file"] {
    margin-bottom: 10px;
  }
  
  #publicar-section button {
    background-color: #003366;
    color: #FFCC00;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #publicar-section button:hover {
    background-color: #FFD633;
  }


  /* Media query para telas menores (máximo 600px de largura) */
@media screen and (max-width: 600px) {
  header {
    padding: 10px; /* Reduzi o padding para diminuir a altura do header */
  }

  nav ul {
    margin-right: 0; /* Removi o grande margin-right para telas menores */
  }

  nav ul li {
    margin-right: 10px; /* Ajuste para telas menores */
  }

  #publicar-section {
    padding: 10px; /* Reduzi o padding para telas menores */
  }

  #publicar-section textarea {
    margin-bottom: 5px; /* Reduzi a margem para telas menores */
    padding: 8px; /* Reduzi o padding para telas menores */
  }

  #publicar-section input[type="file"] {
    margin-bottom: 5px; /* Reduzi a margem para telas menores */
  }

  #publicar-section button {
    padding: 8px; /* Reduzi o padding para telas menores */
  }
}
  
  